include ../appscore/index
div.appinfo(data-module="appinfo")
  div.left
    div.logo
      img(src=detail.icon,width=150,height=150)
    a.btn.btn-download(href=detail.apkurl,target=_blank) 下载
  div.right
    h1=detail.title
    div.rate
      div.score
        +appscore(detail.score)
    p
      span 更新时间：
        strong=detail.date
      span 软件版本：
        strong=detail.version[0]
    p
      span 软件大小：
        strong=detail.size
      span 下载量：
        strong=detail.viewCounts
    p.desc=detail.desc
