include ../appscore/index
mixin big(title)
  div.applist(data-module="applist")
    h2= title
    ul.app-list
      each list in results
        li.app-item(style="background:" + list.color)
          div.logo
            img(src=list.icon,width=72,height=72)
          h3
            a(href="/detail/" + list._id)= list.title
          span.rate
            +appscore(list.score)
          span.version= list.version[0]
          small.info
            span.date= list.date
            a(href=list.apk_url).icon.icon-download

mixin small()
  div.applist(data-module="applist")
    ul.app-list
      each list in recommend
        li.app-small-item
          div.logo
            img(src=list.icon,width=72,height=72)
          h3=list.title
          span.rate
            +appscore(list.score)
      
